*{
	margin: 0px;
	padding: 0px;
}
body{
	display: flex;
	background-color: #ea34f2;
}
section{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #ea34f2;
}
footer{
	padding: 20px;
	box-sizing: content-box;
}
